@page
@model crudProdutos.Pages.ProdutoTestCompleto.ListarModel

@{
    ViewData["titulo"] = "Listagem de Produtos";
}

<header class="container p-3">
    <div class="row align-items-center">
        <div class="col-sm-6"><h1>@ViewData["titulo"]</h1></div>
        <div class="col-sm-6 text-right"><a asp-page="Adicionar" class="btn btn-info">Novo Produto</a></div>
    </div>
</header>

<main class="container">
@if (Model.Produtos.Count > 0)
{
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Produtos[0].Nome)</th>
                    <th>@Html.DisplayNameFor(m => m.Produtos[0].Descricao)</th>
                    <th>@Html.DisplayNameFor(m => m.Produtos[0].Preco)</th>
                    <th>@Html.DisplayNameFor(m => m.Produtos[0].Estoque)</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Produtos)
                {
                    <tr class="@(item.Estoque > 0 ? "" : "bg-warning")">
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                        <td>@Html.DisplayFor(modelItem => item.Preco)</td>
                        <td> @Html.DisplayFor(modelItem => item.Estoque)</td>
                        <td class="text-center">
                            <a class="btn btn-primary btn-sm" asp-page="./Alterar" asp-route-id="@item.IdProduto">Alterar</a>
                            <form class="d-inline-block" asp-page-handler="delete" asp-route-id="@item.IdProduto" method="post">
                                <button class="btn btn-danger btn-sm" onclick="confirmarExclusao(this);"
                                type="button">Excluir</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
}
else
{
    <h2>Não há clientes cadastrados.</h2>
}
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_CustomConfirm");
    }
}
